@charset "UTF-8";
body {
    p{text-align: center;}
}
body{
    height: 1600px;
    animation: 1s rainbow linear infinite;
}
@keyframes rainbow{
    0%{background: #e60000}
    14%{background: #f39800}
    28%{background: #fff100}
    42%{background: #009944}
    56%{background: #0068b7}
    70%{background: #1d2088}
    85%{background: #920783}
    100%{background: #e60000}
}


 
#wrap {
  width: 960px;
  margin: auto;
  background-color: rgb(17, 255, 0);
  color: rgb(254, 0, 182);
}
 
header p{
    font-weight: bold;
    font-family: "Coral Pixels", serif;

}
 
nav {
  padding: 10px;
  height: 160px;
  background-color: rgb(238, 255, 0);
  color: rgb(0, 13, 255);
  font-family: "Hachi Maru Pop", cursive;
  font-size: 40px;
  font-weight: bold;
}
 
main {
  height : 230px;
  font-family: "DotGothic16", sans-serif;
  font-size: 67px;
}
 
footer {
  padding: 40px;
  height: 180px;
  background-color: rgb(255, 0, 208);
  color: rgb(17, 255, 0);
  font-family: "Rampart One", sans-serif;
  font-size: 70px;
}

.page-title {
  font-size: 80px;
  color: rgb(0, 13, 255);
}

